h1{
  text-align: left;
}
body{
  display: inline-block;
}
section{
  float:left;

}
div{
  width: 100px;
  height: 140px;
  background-image: url("media/카드뒷면.png");
}
.change{
  background-image: : url("media/카드뒷면.png");
}
.chage:hover{
  background-image: : url("media/카드앞면.jpg");
}
