@media screen and (max-width: 768px)
{/*핸드폰 일 경우 */
  *{margin: 0;padding: 0;}
  html,body{
    height: auto;
    width: auto;
  }
  header {

    background-color: yellowgreen;

  }
  h1 {

    text-align: center;

  }
  nav {
    background-color: pink;
  }

  nav {
    float: left;
    width: 15%;
    height: 75%;
  }

  section {
    background-color: skyblue;
  }

  section {
    float: left;
    width: 85%;
    height: 75%;
  }

  footer {
    background-color: gray;
  }

  footer {
    width: 100%;
    height: 10%;
    clear: both;
  }
}
@media screen and (min-width: 768px) and (max-width:959px){/*테블릿일 경우 */

}
