@import 'reset.scss';
.header{
    color : red;
    display: left;
    width: auto;
    height: auto;
    float: left;
}
.menu{
    color: green;
}
.link_login{
    text-decoration: none;
    &::before{
        //before effect login
    }
    &::after{
        //after effect login 
    }
}