@import 'reset.scss';
.header{
    color : red;
    display: left;
    width: 25%;
    height: 100vh;
    float: left;
    background-color: #000;
    border-right: 1px solid hsla(0,0%,100%,.1);
}
.menu{
        color: green;
        
}
.link_login{
    text-decoration: none;
    &::before{
        //before effect login
    }
    &::after{
        //after effect login 
    }
}